.navbar{
    /* border: 1px solid red; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #FDFDFD;
}

.navbar.scrolled{
    background-color: rgb(255, 255, 255);

}

.navbar-container{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.links li  a{
    text-decoration: none;
    /* color: #000; */
    font-weight: 500;
}

.mobile-logo{
    display: none;
}

.links{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style-type: none;
    flex-grow: 1;
    position: relative;
}

.links .last.btn{
    color: #fff;
}




.first{
    margin-left: auto;
}

.links .last{
    margin-left: auto;
    color: #fff;
}

.links .last:hover{
    margin-left: auto;
    color: #4087EA;
}



.menu{
    font-size: 40px;
    display: none;
}

.nav-mobile-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
    display: none;
}

.close-btn{
    display: none;
    font-size: 40px;
}

.btn-nav{
    color: #fff;
}

.btn-nav:hover{
    font-weight: bold;
}





@media (max-width:1024px){
    .logo img{
        width: 150px;
    }

    .links{
        gap: 2rem;
    }
}


@media (max-width:850px){
    .navbar{
        background-color: #fff;
    }

    .mobile-logo{
        display: flex;
    }

    .desktop{
        display: none;
    }

    .close-btn{
        display: flex;
        /* position: absolute; */
        /* right : 0; */
        /* top : -100%; */
    }

    .menu{
        display: flex;
    }

    .links{
        /* padding-top: 20px; */
        display: block;
        height: fit-content;
        /* box-shadow: 0 2px 3px rgba(0, 0, 0,0.3); */
        position: fixed;
        right: -100vw;
        top: 85px;
        
        width: 200px;
        /* right: -100%; */
        background-color: #fff;
        transition: 400ms ease-in-out;
        z-index: 10000;
    }


    .links li a{
        display: block;
        padding: 10px;
    }

    .links li{
        margin-top: 20px;
        text-align: center;
    }

    .links li .btn{
        border-radius: 0;
        background-color: #4087ea70;
        color: #000;
        margin-bottom: 0;
    }

    .links.show{
        right: 7.5%;
    }

}