.navbar{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: #fff;
}

.navbar-container{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

}

.links a{
    text-decoration: none;
    color: #000;
}

.mobile-logo{
    display: none;
}

.links{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style-type: none;
    flex-grow: 1;
}




.first{
    margin-left: auto;
}

.links .last{
    margin-left: auto;
    color: #fff;
}

.links .last:hover{
    margin-left: auto;
    color: #4087EA;
}



.menu{
    font-size: 40px;
    display: none;
}





@media (max-width:1024px){
    .logo img{
        width: 150px;
    }

    .links{
        gap: 2rem;
    }
}


@media (max-width:850px){
  

    .mobile-logo{
        display: flex;
    }

    .desktop{
        display: none;
    }

    .links{
        display: none;
    }

    .menu{
        display: flex;
    }
}