.offer-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    margin-top: 40px;
}

.offer-header h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.header-content{
    max-width: 500px;
}

.col-headings{
    font-weight: 700;
}




.col-2{
    display: grid;
    grid-gap: 70px;
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "box-b box-a";
}

.col-2.reverse-col{
    grid-template-areas: 
    "box-a box-b";

}



.col-image {
    
    height: 470px;
    grid-area: box-b;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.live-broadcast{
    grid-area: live-img;
}

.live-cont{
    grid-area: live-cont;
}



.col-content{

    grid-area: box-a;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;
}


.col-content p{
    margin: 20px 0 40px 0;
    max-width: 85%;
}
















@media (max-width:970px) {
    .col-2{
        grid-gap: 30px;
    }
}


@media (max-width:850px) {
    .col-2{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "box-b "
        "box-a";
    }

    .col-2.reverse-col{
        grid-template-areas: 
        "box-b"
        "box-a";
    
    }

    .col-content p{
        max-width: 100%;
    }
    
    .reverse{
        grid-template-areas: 
        "live-img "
        "live-cont";
    }
    
}

@media (max-width:650px) {
    .offer-header h1{
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}

@media (max-width:500px){
    .offer-header h1{
        font-size: 30px;
    }

    .col-image{
        height: fit-content;
    }
}


@media (max-width:400px){
    .offer-header h1{
        font-size: 20px;
    }
}