.showcase{
    width: 100%;
    overflow: hidden;
}

.hero{
    height: min-532px;
    position: relative;
    padding-top: 130px;
    z-index: 1;
}

.hero-image{
    position: absolute;
    right: 0;
    top: 0;

}

.flex-2{
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    gap: 52px;
    z-index: 1000;
}





.hero-content p{
    max-width: 600px;
    /* font-family: 'Cera Pro'; */
    color: #050505;
    margin-bottom: 44px;
    margin-top: 18px;
}



.image1{
    position: absolute;
    top: 5rem;
    left: 0;
    z-index: -1;
}






.arrow-down{
    position: absolute;
    padding: 20px 20px 30px 20px;
    left: 769px;
    top: 84.35px;
    /* background: #FDFDFD; */
}





.image2{
    position: absolute;
    right: 0;
    bottom: 0;
}




.box p{
    /* font-family: 'Cera Pro'; */
    font-style: normal;
    font-weight: 400;
    /* font-size: 27px; */
    line-height: 24px;
}

.color{
    color: #00BFFF;
}











@media (max-width:1150px) {
    .bold-text{
        font-size: 50px;
    }    

    .hero-image{
        display: none;
    }
}



@media (max-width:800px) {
    .flex-2{
        flex-direction: column;
    }

    .hero{
        padding-top: 50px;
    }

    .flex-2 img{
        width: 200px;
    }

    .content{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width:500px){
    .bold-text{
        font-size: 30px;
    }
}