.admin-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.admin-header form {
    position: relative;
}

.search-icon{
    position: absolute;
    left: 10px;
    top: 9px;
}

.admin-header form .search{
    background: #E6E6E6;
    border-radius: 8px;
    border: none;
    padding: 10px;
    padding-left: 35px;
    width: 350px;
    outline: none;
}