.offers{
    padding: 80px 0;
}

.offers-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* flex-wrap: wrap; */
    /* grid-template-columns: 1fr 1fr; */

    align-items: center;
    justify-content: center;
    /* min-height: 200px; */
    margin-bottom: 30px ;
    /* background-color: red; */
}

.offers-container > div{
    width: 100%;
}

.offer-image{
    display: flex;
    justify-content: center;
    align-items: center;
}



.last{
    padding-bottom: 100px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.header p{
    margin: 2.5rem 0;
}



.offers-container > div{
    flex-basis: 50%;
}

img{
    max-width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.gap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    height: 100%;
}

.grey-shadow{
    box-shadow:  10px 10px #686868;
    border: 4px solid #050505;
}

.gap p{
    width: 400px;
}

.arrow1{
    display: block;
    margin-left: auto;
    margin-right: 90px;
    
}

.arrow2{
    margin-left: 90px;
}

















@media (max-width:1024px) {
    .offers-container{
        grid-gap: 20px;
        
    }

    .gap p{
        width: 100%;
    }

    .big-heading{
        /* displawidty: block; */
        width: 100%;
    }
}



@media (max-width:850px){

    .arrow2{
        margin: 0;
        width: 80px;
    }

    .arrow1{
        margin-right: 0;
        width: 80px;
    }

}