.waitlist-bg{
    background-color: #ffffff;
}

.waitlist-image{
    grid-area: box-b;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.col-2.waitlist-col{
    grid-gap: 0px;
}

.waitlist-container .bold{
    font-size: 59px;
    max-width: 450px;
    font-weight: 700;
    line-height: 1.2;
}


.countdown{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}


.countdown-el{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.countdown-el small{
    font-size: 14px;
}

.big-colon{
    font-size: 30px;
}




@media (max-width:500px) {
    .countdown{
        gap: 3px;
    }
    .countdown-el h1{
        font-size: 30px;
    }
    .waitlist-container .bold{
        font-size: 40px;
    }
}







@media (max-width:850px) {
    .col-2.waitlist-col{
        grid-gap: 30px;
    }
}


@media (max-width:920px) {
    .waitlist-container .bold{
        font-size: 47px;
    }
    
}


@media (max-width:294px){
    .waitlist-container .bold{
        font-size:30px;
    }
}