.waitlist-bg{
    background-color: #ffffff;
}

.waitlist-image{
    grid-area: box-b;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.col-2.waitlist-col{
    grid-gap: 0px;
    margin-bottom: 0;
}


.countdown{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}


.countdown-el{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.countdown-el h1{
    font-size: 48px;
}

.countdown-el small{
    font-size: 15px;
}

.big-colon{
    font-size: 30px;
}


.reverse-content p{
    margin: 30px 0;
    max-width: 400px;
}











@media (max-width:1015px){
    .countdown-el h1{
        font-size: 39px;
    }
    
}




@media (max-width:850px) {
    .col-2.waitlist-col{
        grid-gap: 30px;
    }
}


@media (max-width:500px) {
    .countdown{
        gap: 3px;
    }
    .countdown-el h1{
        font-size: 35px;
    }
}

@media (max-width:400px) {

    .countdown-el small{
        font-size: 11px;
    }
    
    .big-colon{
        font-size: 25px;
    }
    
    
    
}

@media (max-width:340px){
    .countdown-el h1{
        font-size: 30px;
    }

    .big-colon{
        font-size: 20px;
    }

    .countdown-el small{
        font-size: 8px;
    }

}

