.footer{
    min-height: 666px;
    /* border: 4px solid red; */
    background-color: #009FD4;
    padding: 95px 0;
    position: relative;
    z-index: 1;
}

.footer *{
    color: #ffffff;
}

.logo h3{
    font-size: 25px;
    font-weight: 500;
}

.footer::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background-image: url('/public/images/footer-background.png');
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: center;
    z-index: -1;
}

.logo{
    display: flex;
    align-items: center;
    gap: 34px;
}

.footer-text{
    margin: 48px 0 92px 0;
    width: 460px;
    font-size: 16px ;
}



.footer-flex{
    display: flex;
    gap: 1rem;
  


    
    
}

.footer-flex > div{
    flex-basis: 50%;
}


.right{
    width: 100%;
}



.col-3{
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin-top: 50px;
    gap: 70px; */
    margin-left: 80px;
    display: flex;
    gap: 50px; 

}



.col{
    display: flex;
    flex-direction: column;
    gap: 28px;

}

.socials{
    margin-top: 100px;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 100px;
    position: relative;
    align-items: center;
    width: fit-content;
    height: 100px;
    width: 260px;
    justify-content: center;
    z-index: 1000;
}

.social-links{
    cursor: pointer;
}

.icons::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("/public/images/Union.png");
    background-position: center;
    /* background-size: cover; */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}







@media (max-width:1024px) {
    .footer-text{
        width: 100%;
        font-size: 13px;
    }
    .footer-flex > div {
        width: 100%;
    }

   
}


@media (max-width:900px){
    .footer-flex{
        flex-direction: column;
    }

    .col-3{
        margin: 0;
        justify-content: space-between;
    }
}



@media (max-width:600px) {
    .col-3{
        gap: 40px;
    }
}

@media (max-width:500px) {
    .icons{
        display: flex;
        justify-content: center;
        margin: 0;
        align-items: center;
    }

    .socials{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
}


@media (max-width:430px) {
    .col-3{
        display: flex;
        /* align-items: center; */
        flex-wrap: wrap;
        /* flex-direction: column; */
        justify-content: flex-start;
    }

}


@media (max-width:315px){
    .col-3{
        justify-content: center;
        flex-direction: column;
    }
    
    .col{
        align-items: center;
    }
} 