.about{
    min-height: 300px;
    padding: 80px 0;
    /* border: 2px solid red; */
}

.about-container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
    width: 85%;
    margin: 0 auto;
    min-height: 400px;
}

.about-container::-webkit-scrollbar{
    width: 0;
}

.box{
    width: 400px;
    /* min-height: 450px; */
    padding: 40px;
    background-color: #FAFAFA;
}


.box h3{
    margin: 70px 0 20px 0;
    font-size: 20px;
}



.bigger-box{
    width: 550px;
    background-color: #4087EA;
    color: #ffffff;
    padding: 65px;
    border: none;
    position: relative;
}

.smaller-box p{
    opacity: 0.8;
}


.about-arrow{
    position: absolute;
    top: 0;
    right: 50px;
}


/* .bigger-box::after{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 0;
    right: 50px;
    background-image: url('../../../public/images/about-arrow.png');
    background-repeat: no-repeat;
    
} */



.bigger-box h1{
    font-size: 50px;
    /* line-height: 1; */
    margin: 20px 0 50px 0;
}

.buttons{
    display: flex;
    gap: 15px;
}

.buttons > button{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: 1.3px solid #fff;
    color: #fff;
    transition: 200ms ease-in-out;
}

.buttons > button:hover{
    background-color: #fff;
    color: #4087EA;
}

.icon-btn{
    border: none;
    width: 60px;
    height: 60px;
    display: flex;
    background-color: #F0F1FF;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}














@media (max-width:680px) {
    .about-container{
        width: 100%;
        grid-template-columns: 1fr;
    }

    .buttons{
        display: none;
    }

    .box{
        width: 80%;
        margin: 0 auto;
        border: 8px solid #ffffff;
    }

    .bigger-box{
        width: 100%;
        padding: 65px ;
        border: none;
        padding-bottom: 100px;
    }

    .smaller-box{
        z-index: 1000;
    }

    .about-arrow{
        transform: scaleX(-1);
    }
    


    .bigger-box h1{
        width: 250px;
        font-size: 40px;
    }
    

    .push{
        margin-top: -120px;
    }

}

@media (max-width:500px){
    .box{
        width: 90%;
    }
    .bigger-box{
        width: 100%;
    }

    .about-arrow{
        width: 90px;
    }

    
    .bigger-box{
        width: 100%;
        padding: 35px ;
        padding-top: 60px;
        padding-bottom: 90px;
    }
}