.about{
    padding: 80px 0;
    /* border: 4px solid red; */
    height: 1400px;
    margin-top: 80px;
    position: relative;
}



.about-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}

.top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 100px;
    /* background-color: red; */

    /* border: 3px solid green; */


    
}

.bottom{
    margin-left: 56px;
    padding-top: 9rem;
    
}

.flex-options{
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 670px;
    margin-top: 24px;
    margin-bottom: 90px;
}




.box{
    max-width: 600px;
    margin-top: 60px;
}

.box p {
    margin-bottom: 62px;
}

.b-box  h1{
    margin-left: 56px;
}

.about-image{
    position: absolute;
    left: 0;
    top: 5rem;
    display: none;
}

.about-image2{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}




































@media (max-width:850px) {
    .top,
    .bottom{
        border: 5px solid green;
        width: 100%;
    }

    .bottom{
        margin-left: 0;
    }



}

