*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    /* border: 1px solid red; */
}


@font-face {
    font-family: poppins;
    src: url('./fonts/Poppins-Regular.ttf');
}



@font-face {
    font-family: poppins;
    src: url('./fonts/Poppins-Bold.ttf');
    font-weight: 500;
}

.container{
    width: 85%;
    margin: 0 auto;
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

p{
    font-size: 15px;
}


.btn{
    padding: 10px 16px;
    border: none;
    outline: none;
    background-color: #4087EA;
    font-family: inherit;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: 500ms ease-in-out;
}

.btn:hover{
    background-color: transparent;
    color: #4087EA;
    font-weight: 500;
    border: 1px solid #4087EA;
}

.btn2{
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: #4087EA;
    background-color: #ffffff;
    cursor: pointer;
}

.btn3{
    border: none;
    color: #4087EA;
    cursor: pointer;
    background-color: transparent;
    
}

.offer-btn{
    border: none;
    font-weight: bold;
    background-color: transparent;
}



.color{
    color: #4087EA;
}

