*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* border: 1px solid red; */
    /* font-family: "plus"; */
}
 
 
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;800&display=swap');


*::after{
    margin: 0;
}


html{
    scroll-behavior: smooth;
}


.container{
    width: 85%;
    margin: 0 auto;
}

.dash-container{
    width: 90%;
    margin: 0 auto;
    /* overflow: hidden; */
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
}

h1{
    font-weight: 800;
    line-height: 1.2;
    font-size: 60px;
}

p{
    font-size: 15px;
}

a{
    color: #444;
    cursor: pointer;
}



option{
    padding: 10px;
}

.error{
    color: red;
    font-size: small;
    margin-left: 5px;
}

.btn{
    padding: 10px 16px;
    border: none;
    outline: none;
    background-color: #4087EA;
    font-family: inherit;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: 500ms ease-in-out;
    text-decoration: none;
}

.btn:hover{
    background-color: transparent;
    color: #4087EA;
    font-weight: 400;
    border: 1px solid #4087EA;
}

.btn2{
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: #4087EA;
    background-color: #ffffff;
    cursor: pointer;
}

.btn3{
    border: none;
    color: #4087EA;
    cursor: pointer;
    background-color: transparent;
    
}

.offer-btn{
    border: none;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.rotating {
    width: 2rem;
    height: 2rem;
    /* background: linear-gradient(10deg, #7ee7faae 0%, #eec0c6d1 100%);     */
    box-shadow: -5px -5px 10px #7ee7faae, #4087EA;
}

.dot{
    width: 15px;
    height: 15px;
    background: linear-gradient(10deg, #7ee7faae 0%, #eec0c6d1 100%);    
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.104), 5px 5px 10px rgba(70,70,70,0.12);
    border-radius: 50%;
    background-color: red;
}


.long{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;  
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.104), 5px 5px 10px rgba(70,70,70,0.12);
    background: linear-gradient(10deg, #7ee7faae 0%, #eec0c6d1 100%);
}

.long2{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%; 
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.104), 5px 5px 10px rgba(70,70,70,0.12);
    background: linear-gradient(10deg, #7ee7faae 0%, #eec0c6d1 100%);
}


.loading{
    /* z-index: 9999; */
    background-color: red;
}

.newLoad{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons > button{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: 1.3px solid #fff;
    color: #fff;
    transition: 200ms ease-in-out;
}

.buttons > button:hover{
    background-color: #fff;
    color: #4087EA;
}



.color{
    color: #4087EA;
}

.muted{
    opacity: 0.7;
}


.mobile-screen{
    display: none;
}


/* .reverse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "box-a box-b";

} 


.box-a{
    grid-area: box-a;
}

.box-b{
    grid-area: box-b;
}*/


.reverse-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "box-a box-b";
}

.reverse-content{
    grid-area: box-a;
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: center;
}


.reverse-image{
    grid-area: box-b;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.admin-flex{
    display: grid;
    grid-template-columns: 80px auto;
    padding: 40px 0;
    gap: 50px;
    max-width: 90%;
    margin: 0 auto;
}





.waitlist-component .footer-waitlist-container{
    display: none;
}


/* @media (max-width:1024px){
    h1{
        font-size: 50px;
    }
} */

@media (max-width:1015px){
    h1{
        font-size: 50px;
    }
}


@media (max-width:850px){
    .reverse-grid{
        grid-template-columns: 1fr;
        grid-gap: 20px;
        grid-template-areas: 
            "box-b"
            "box-a";
    }

    .admin-flex{
        gap: 10px;
    }
}



@media (max-width:500px){
    .mobile-screen{
        display: block;
    }

    .large-screen{
        display: none;
    }

    .btn{
        padding: 12px 20px;

    }

    .admin-flex{
        grid-template-columns: 1fr;
    }


    
    .btn:hover{
        background-color: #4087EA;
        color: #fff;
    }

  

    h1{
        font-size: 45px;
        font-weight: 700;
    }

}


@media (max-width:360px){
   h1{
        font-size:37px;
    }
}