*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
    /* border: 1px solid red; */
}

*::after{
    margin: 0;
}


html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: poppins;
    src: url('./fonts/Poppins-Regular.ttf');
}



@font-face {
    font-family: poppins;
    src: url('./fonts/Poppins-Bold.ttf');
    font-weight: 500;
}

.container{
    width: 85%;
    margin: 0 auto;
}

img{
    object-fit: cover;
    max-width: 100%;
    display: block;
}

p{
    font-size: 15px;
}

option{
    padding: 10px;
}


.btn{
    padding: 10px 16px;
    border: none;
    outline: none;
    background-color: #4087EA;
    font-family: inherit;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    transition: 500ms ease-in-out;
    text-decoration: none;
}

.btn:hover{
    background-color: transparent;
    color: #4087EA;
    font-weight: 400;
    border: 1px solid #4087EA;
}

.btn2{
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: #4087EA;
    background-color: #ffffff;
    cursor: pointer;
}

.btn3{
    border: none;
    color: #4087EA;
    cursor: pointer;
    background-color: transparent;
    
}

.offer-btn{
    border: none;
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}



.buttons > button{
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    cursor: pointer;
    border: 1.3px solid #fff;
    color: #fff;
    transition: 200ms ease-in-out;
}

.buttons > button:hover{
    background-color: #fff;
    color: #4087EA;
}



.color{
    color: #4087EA;
}

.muted{
    opacity: 0.7;
}


.mobile-screen{
    display: none;
}


.reverse{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "box-a box-b";

}


.box-a{
    grid-area: box-a;
}

.box-b{
    grid-area: box-b;
}



.waitlist-component .footer-waitlist-container{
    display: none;
}


@media (max-width:500px){
    .mobile-screen{
        display: block;
    }

    .large-screen{
        display: none;
    }
}